<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bar_lab">
  <!-- Define materials at the top -->
  <!-- Using these as variables is not showing up correctly in RH/GH -->
  <material name="off_white">
    <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
  </material>
  <material name="gt_blue">
    <color rgba="0.0 0.188235 0.341176 1.0"/>
  </material>
  <material name="gt_gold">
    <color rgba="0.70196 0.63921 0.41176 1.0"/>
  </material>
  <material name="robot_default">
    <color rgba="0.772549 0.7803922 0.7686275 1.0"/>
  </material>
  <!--  -->
  <!-- LINK LIST -->
  <link name="world">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/floor.stl"/>
      </geometry>
      <material name="off_white">
        <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/floor.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="columns">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/columns.stl"/>
      </geometry>
      <material name="gt_blue">
        <color rgba="0.0 0.188235 0.341176 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/columns.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="x_rail">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/x_rail.stl"/>
      </geometry>
      <material name="gt_blue">
        <color rgba="0.0 0.188235 0.341176 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/x_rail.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="bridge1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/y_gantry.stl"/>
      </geometry>
      <material name="gt_blue">
        <color rgba="0.0 0.188235 0.341176 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/y_gantry.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot1_xy_cart">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/xy_cart.stl"/>
      </geometry>
      <material name="off_white">
        <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/xy_cart.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot1_base">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/z_axis.stl"/>
      </geometry>
      <material name="off_white">
        <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/z_axis.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot1_base_link">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/base_link.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/base_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="0.0" ixz="2.7" iyy="-5.952" iyz="0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot1_link_1">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_1.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.18 0.0 0.5" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="0.0" ixz="2.7" iyy="-5.952" iyz="0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot1_link_2">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_2.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.94 0.08 -0.34" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-2.96" ixy="2.256" ixz="-9.588" iyy="-18.72601" iyz="-0.816" izz="-14.95"/>
    </inertial>
  </link>
  <link name="robot1_link_3">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_3.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_3.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.07 -0.266 0.088" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="1.345" ixy="0.5586" ixz="0.1848" iyy="4.65068" iyz="-0.70224" izz="2.76032"/>
    </inertial>
  </link>
  <link name="robot1_link_4">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_4.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_4.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
      <mass value="40.0"/>
      <inertia ixx="-8.0" ixy="0.0" ixz="0.0" iyy="-8.0" iyz="0.0" izz="0.482"/>
    </inertial>
  </link>
  <link name="robot1_link_5">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_5.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_5.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.14 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="10.0"/>
      <inertia ixx="0.04" ixy="0.0" ixz="0.0" iyy="-0.009" iyz="0.0" izz="-0.004"/>
    </inertial>
  </link>
  <link name="robot1_link_6">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_6.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_6.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.081 -0.091 0.332" rpy="0.0 0.0 0.0"/>
      <mass value="5.0"/>
      <inertia ixx="-0.29652" ixy="-0.03686" ixz="0.09396" iyy="-0.28792" iyz="-0.10556" izz="-0.04621"/>
    </inertial>
  </link>
  <link name="robot1_tool0"/>
  <link name="bridge2">
    <visual>
      <origin xyz="0.0 0 0.0" rpy="0.0 0.0 0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/y_gantry2.stl"/>
      </geometry>
      <material name="gt_blue">
        <color rgba="0.0 0.188235 0.341176 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.0" rpy="0.0 0.0 0"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/y_gantry2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot2_xy_cart">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -3.1415926535895866"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/xy_cart.stl"/>
      </geometry>
      <material name="off_white">
        <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -3.1415926535895866"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/xy_cart.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot2_base">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -3.1415926535895866"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/visual/z_axis.stl"/>
      </geometry>
      <material name="off_white">
        <color rgba="0.9254902 0.9254902 0.9058824 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -3.1415926535895866"/>
      <geometry>
        <mesh filename="package://bar_lab/meshes/collision/z_axis.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="-0.0" ixz="2.7" iyy="-5.952" iyz="-0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot2_base_link">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/base_link.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/base_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="0.0" ixz="2.7" iyy="-5.952" iyz="0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot2_link_1">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_1.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.18 0.0 0.5" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-4.98" ixy="0.0" ixz="2.7" iyy="-5.952" iyz="0.0" izz="0.828"/>
    </inertial>
  </link>
  <link name="robot2_link_2">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_2.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.94 0.08 -0.34" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="-2.96" ixy="2.256" ixz="-9.588" iyy="-18.72601" iyz="-0.816" izz="-14.95"/>
    </inertial>
  </link>
  <link name="robot2_link_3">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_3.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_3.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.07 -0.266 0.088" rpy="0.0 0.0 0.0"/>
      <mass value="120.0"/>
      <inertia ixx="1.345" ixy="0.5586" ixz="0.1848" iyy="4.65068" iyz="-0.70224" izz="2.76032"/>
    </inertial>
  </link>
  <link name="robot2_link_4">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_4.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_4.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
      <mass value="40.0"/>
      <inertia ixx="-8.0" ixy="0.0" ixz="0.0" iyy="-8.0" iyz="0.0" izz="0.482"/>
    </inertial>
  </link>
  <link name="robot2_link_5">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_5.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_5.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.14 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="10.0"/>
      <inertia ixx="0.04" ixy="0.0" ixz="0.0" iyy="-0.009" iyz="0.0" izz="-0.004"/>
    </inertial>
  </link>
  <link name="robot2_link_6">
    <visual>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/visual/link_6.stl"/>
      </geometry>
      <material name="gt_gold">
        <color rgba="0.70196 0.63921 0.41176 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6620/meshes/collision/link_6.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.081 -0.091 0.332" rpy="0.0 0.0 0.0"/>
      <mass value="5.0"/>
      <inertia ixx="-0.29652" ixy="-0.03686" ixz="0.09396" iyy="-0.28792" iyz="-0.10556" izz="-0.04621"/>
    </inertial>
  </link>
  <link name="robot2_tool0"/>
  <!--  -->
  <!--  -->
  <!-- GLOBAL JOINTS -->
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="columns"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="columns_joint" type="fixed">
    <parent link="columns"/>
    <child link="x_rail"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <!--  -->
  <!--  -->
  <!-- BRIDGE 1 JOINTS -->
  <joint name="bridge1_joint_EA_X" type="prismatic">
    <parent link="x_rail"/>
    <child link="bridge1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="0.0" upper="13.005" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_EA_Y" type="prismatic">
    <parent link="bridge1"/>
    <child link="robot1_xy_cart"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="0.0" upper="9.65" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_EA_Z" type="prismatic">
    <parent link="robot1_xy_cart"/>
    <child link="robot1_base"/>
    <axis xyz="0.0 0.0 1.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="2.956" upper="4.706" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <!--  -->
  <!--  -->
  <!-- ROBOT 1 JOINTS -->
  <joint name="robot1_joint_0" type="fixed">
    <parent link="robot1_base"/>
    <child link="robot1_base_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="-3.1415926535895866 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_1" type="revolute">
    <parent link="robot1_base_link"/>
    <child link="robot1_link_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-2.96706" upper="2.96706" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_2" type="revolute">
    <parent link="robot1_link_1"/>
    <child link="robot1_link_2"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-1.13446" upper="2.44346" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.3200 0.0 0.6800" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_3" type="revolute">
    <parent link="robot1_link_2"/>
    <child link="robot1_link_3"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-3.14159" upper="1.22173" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.9741" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_4" type="revolute">
    <parent link="robot1_link_3"/>
    <child link="robot1_link_4"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-5.23599" upper="5.23599" effort="10000.0" velocity="6.2832"/>
    <origin xyz="0.1946 0.0 0.1988" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_5" type="revolute">
    <parent link="robot1_link_4"/>
    <child link="robot1_link_5"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-2.26893" upper="2.26893" effort="100000.0" velocity="6.2832"/>
    <origin xyz="0.6924 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_6" type="revolute">
    <parent link="robot1_link_5"/>
    <child link="robot1_link_6"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-5.23599" upper="5.23599" effort="100000.0" velocity="7.854"/>
    <origin xyz="0.174 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot1_joint_6-tool0" type="fixed">
    <parent link="robot1_link_6"/>
    <child link="robot1_tool0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <!--  -->
  <!--  -->
  <!-- BRUDGE 2 JOINTS -->
  <joint name="bridge2_joint_EA_X" type="prismatic">
    <parent link="x_rail"/>
    <child link="bridge2"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="1.400" upper="14.405" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_EA_Y" type="prismatic">
    <parent link="bridge2"/>
    <child link="robot2_xy_cart"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="0.0" upper="9.65" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_EA_Z" type="prismatic">
    <parent link="robot2_xy_cart"/>
    <child link="robot2_base"/>
    <axis xyz="0.0 0.0 1.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="2.956" upper="4.706" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <!--  -->
  <!--  -->
  <!-- ROBOT 2 JOINTS -->
  <joint name="robot2_joint_0" type="fixed">
    <parent link="robot2_base"/>
    <child link="robot2_base_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="-3.1415926535895866 0.0 -3.1415926535895866"/>
  </joint> <joint name="robot2_joint_1" type="revolute">
    <parent link="robot2_base_link"/>
    <child link="robot2_link_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-2.96706" upper="2.96706" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_2" type="revolute">
    <parent link="robot2_link_1"/>
    <child link="robot2_link_2"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-1.13446" upper="2.44346" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.3200 0.0 0.6800" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_3" type="revolute">
    <parent link="robot2_link_2"/>
    <child link="robot2_link_3"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-3.14159" upper="1.22173" effort="100000.0" velocity="2.618"/>
    <origin xyz="0.0 0.0 0.9741" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_4" type="revolute">
    <parent link="robot2_link_3"/>
    <child link="robot2_link_4"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-5.23599" upper="5.23599" effort="10000.0" velocity="6.2832"/>
    <origin xyz="0.1946 0.0 0.1988" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_5" type="revolute">
    <parent link="robot2_link_4"/>
    <child link="robot2_link_5"/>
    <axis xyz="0.0 1.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-2.26893" upper="2.26893" effort="100000.0" velocity="6.2832"/>
    <origin xyz="0.6924 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_6" type="revolute">
    <parent link="robot2_link_5"/>
    <child link="robot2_link_6"/>
    <axis xyz="1.0 0.0 0.0"/>
    <dynamics damping="0.2" friction="0.0"/>
    <limit lower="-5.23599" upper="5.23599" effort="100000.0" velocity="7.854"/>
    <origin xyz="0.174 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="robot2_joint_6-tool0" type="fixed">
    <parent link="robot2_link_6"/>
    <child link="robot2_tool0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
</robot>
