<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">

  <xacro:macro name="gripper" params="prefix connected_to">
    <!-- GRIPPER -->
    <!-- gripper link list -->
    <link name="${prefix}gripper">
      <visual>
        <geometry>
          <mesh filename="package://abb_irb7600_400_255/meshes/visual/gripper.stl"/>
        </geometry>
        <xacro:material_light_pink />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://abb_irb7600_400_255/meshes/collision/gripper.stl"/>
        </geometry>
        <xacro:material_light_pink />
      </collision>
    </link>

    <link name="${prefix}tcp"/>

    <!-- gripper joint list -->
    <joint name="${prefix}gripper_joint" type="fixed">
      <parent link="${connected_to}"/>
      <child link="${prefix}gripper"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}tcp_joint" type="fixed">
      <parent link="${prefix}gripper"/>
      <child link="${prefix}tcp"/>
      <origin xyz="0 0 0.1830" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
