<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="princeton_cell">
    <xacro:include filename="$(find princeton_cell)/urdf/abb_on_axis_macro.xacro"/>

    <link name="world" />

    <joint name="r2_world_joint" type="fixed">
      <parent link="world" />
      <child link = "r2_axis" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <xacro:abb_on_axis prefix="r2_" />

    <joint name="r1_world_joint" type="fixed">
      <parent link="world" />
      <child link = "r1_axis" />
      <origin rpy="0.0 0.0 3.14159" xyz="3.70 3.45 0.02"/>
    </joint>

    <xacro:abb_on_axis prefix="r1_" />

  </xacro:macro>
</robot>


